*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class^="col-"]{
    height: 200px;
    background-color: pink;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
    flex-grow: 1;
    flex-basis: 0;
}
.nested-col{
    background-color: salmon;
    height: 190px;
    margin: 2px;
    border: none;
    line-height: 190px;
}